body {
  background-color: beige;
}
/* .box{
    border:1px solid gray;
    margin-left:300px;
    height: 1000px;
    width: 500px;
    margin-top: -70px;
}
#img{
    height: 200px;
    width:50px;
    margin-left:30px;
    margin-top:-70px;

} */
.nave {
  background-color: darkcyan;
  height: 40px;
}
.menu{
    background-color:goldenrod ;
}

#bill {
  margin-left: 90px;
  padding: 10px;
  color:goldenrod;
  
}
#admin {
  margin-left: 300px;
  padding: 30px;
  margin-top: -20px;
  color: goldenrod;
  
}
#clock {
  height: 30px;
  padding:-50px;
  margin-top: 10px;
}
#four {
  height: 30px;
  padding:-50px;
  margin-top: 10px;
}
#lines {
  height: 30px;
  padding:-50px;
  margin-top:10px;
}
#report {
  height: 30px;
  padding:-50px;
  margin-top:10px;
}
.box {
  height: 700px;
  width: 700px;
  margin: 130px 130px;
  background-color: bisque;
  border: 1px solid;
  color: grey;
}
